body {
  height: 100vh;
  text-align: center;
  background-color: navy;
  font-family: monospace;
}

main {
  position: relative;
  height: 100%;
}

p {
  color: yellow;
}

h3 {
  color: rgb(173, 253, 13);
  size: 18px;
}

.board {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 480px;
  height: 480px;
  display: flex;
  flex-wrap: wrap;
  background-color: navy;
  justify-content: center;
  align-self: center;
  align-content: center;
}

.grid div {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.582);
}

.selected {
  background-color: tomato;
}
.hit {
  background-color: rgb(86, 255, 71);
}

#row-col {
  border: 1px solid navy;
}

.controls {
  padding: 0rem;
}

#missile-input {
  background-color: rgba(255, 255, 255, 0.295);
  width: 200px;
  margin: auto;
  padding: 0.5rem;
}

#start {
  margin: 1rem;
}

#feedback {
  color: yellow;
  font-size: 15px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 5px;
}

li p {
  font-size: 14px;
}
